# Arquivos gerados pelo Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# Arquivos gerados por IDEs
.idea/
.vscode/
*.iml
*.sublime-project
*.sublime-workspace

# Arquivos de sistema/SO
.DS_Store
Thumbs.db

# Logs e arquivos temporários
*.log
*.tmp
*.bak

pubspec.lock